* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 10vw;
    background: #121010;
    background-attachment: fixed;
    overflow-x: hidden;
}

#todo {
    width: 80vw;
    margin: 0 auto;
    color: black;
    text-align: center;
    background: #feb;
    padding: 4vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
}

.addtask {
    width: 100%;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
}

.addtask #input1 {
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    color: black;
    font-size: 1rem;
}

input::-webkit-input-placeholder {
    color: black;
    font-size: 1rem;
}

.addtask button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    background: #fb0;
}

.addtask button:hover {
    background: #ea0;
}

#tasklist {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dc9;
    padding: 1vw 2vw;
    border-radius: 8px;
    text-align: left;
    line-height: 160%;
}

#task_op {
    display: flex;
    align-items: center;
    gap: 20px
}